

 .topic h4{
	margin: 0;
	z-index: -9;
	position: relative;
	color:red
}
.text-element .topic{
	position: relative;
	top: 3.5rem;
	right: 1rem;
	

}
.text-element h4{
	line-height: 16px;
	font-family: 'Grandstander', cursive;
	font-weight: 800;
	color: black;
}

/* Media Query */
@media screen and (max-width: 768px){
.webinar-img{
	position: absolute;
	right: .11rem;
	left: 0.1rem;
	bottom: 16rem;

}
} 

@media screen and (max-width:375px){
	.text-element{
	position: relative;
	top: 3.5rem;
	right: -0.1rem;
	
	
}
}
.slider-container{
	margin-left: .3rem;
	margin-right: .3rem;
}

/* .slider-container img {
	position: relative;
	bottom: 5rem;
} */