.webinar-img{
	position: absolute;
	right: .11rem;
	left: 0.1rem;
	bottom: 1rem;

}
 .topic{
	margin: 0;
	z-index: 90000;
	position: relative;

}
.text-element{
	position: relative;
	top: 3.5rem;
	right: 1rem;
	
}
.text-element h4{
	color: black;
	
}

/* Media Query */
@media screen and (max-width: 768px){
.webinar-img{
	position: absolute;
	right: .11rem;
	left: 0.1rem;
	bottom: 16rem;
	
}
} 

@media screen and (max-width:375px){
	.text-element{
	position: relative;
	top: 3.5rem;
	right: -0.1rem;
	
}
}
