.top-header{
background:  url(./undraw_screen_time_vkev.svg);
	height: 30rem;
	width: 100%;
	margin-top:0 ;
	transform: scale(100%,100%);
	background-position: 0;
	bottom: 1.33em;
	background-size: cover;
	/* position: relative; */
	z-index: -1;
}

.header-wrapper h1{
	left: 8rem;
	top: 8rem;
	position: absolute;
	font-weight: 900;
	font: 900;
	display: inline;
	font-size: 3rem;
	letter-spacing: normal;
	line-height: normal;
	color:#022B69;
}


.btn-header  a{
  padding: 8px 20px;
  border-radius: 4px;
  outline-style: none ;
  border: none;
  height: 4rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  background-color: #0066F5;
	position: absolute;
	left: 8.1rem;
	top: 23rem;
	text-align: center;
width: 15rem;
transform: translate(-50% -50%);
text-decoration: none;
list-style-type: none;
}








@media screen and (max-width: 414px){
	.header-wrapper h1{
	left: 1rem;
	top: 3rem;
	position: absolute;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	font-size: xx-large;
	
	color: #022B69;
	transform: translate(50% ,50%);
	}

}


@media screen and (max-width: 414px){
	.header-wrapper h1{
	left: 1.4rem;
	top: 5rem;
	position: absolute;
	font-weight: 200;
	font: 200;
	line-height: normal;
	display: inline;
	text-justify: inter-word;
	text-align: justify;
	font-size: 3rem;
	color: #022B69;
}

.btn-header a{
  padding: 8px 20px;
  border-radius: 4px;
  text-align: center;
  outline-style: none;
  border: none;
  height: 4rem;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  background-color:  #0066F5;
	position: absolute;
	left: 1.6rem;
	top: 23rem;
width: 15rem;
list-style-type: none;
transform: translate(-50% -50%);
}


}




@media screen and (max-width: 360px){
	.header-wrapper h1{
	left: 1.4rem;
	top: 8rem;
	position: absolute;
	font-weight: 100;
	line-height: normal;
	display: inline;
	text-justify: inter-word;
	text-align: justify;
	font-size: 2.5rem;
	color: #022B69;
	line-height: 3rem;
}


.btn-header a {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  height: 3rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-color:  #0066F5;
	position: absolute;
	left: 2.3rem;
top:24rem;
width: 12rem;
list-style-type: none;

}

}






@media screen and (min-width: 768px){
	
.header-wrapper h1{
	left: 8rem;
	position: absolute;
	font-weight: 900;
	font: 900;
	display: inline;
	font-size: 3rem;
	letter-spacing: normal;
	line-height: normal;
	color:#022B69;
}
}


@media screen and  (min-width:1024px){
.top-header{

	width: 100%;
	margin-top:0 ;
	background-position: 0;
	background-size: cover;
	position: relative;
}
}


/* .center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.center a {
  padding:10px 20px;
  background:#eee;
  color:#111;
  font-size:15px;
  font-weight:600;
  text-decoration:none;
  border-radius:5px;
} */

#popup {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:white;
  display:none;
  z-index: 100000000000;
}
#popup .popup-content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:400px;
  padding:10px 20px;
background: white;
  z-index: 100000000000;
  
}
#popup a.close-popup {
  position:absolute;
  top:20px;
  right:20px;
  font-size:20px;
  font-weight:600;
  text-decoration:none;
  color:#0067F5;
}
#popup:target {
  display:block;
}

.Click-Me{
	border-radius: .9rem;
	width: 6rem;
	height: 3rem;
	outline: none;
	border: none;
	color: white;
	background-color:#0067F5 ;
	transition: transform border  border-radius color 10s ease-in-out;
	cursor: pointer;
}

.Click-Me:hover{
	transform: scale(1.2);
	background-color: transparent;
	border: 1px solid red;
	border-radius: .6rem;
	color: red;
	cursor: pointer;
}