.webinar-img{
	position: absolute;
	right: .11rem;
	left: 0.1rem;
	bottom: 1rem;
}
 .topic{
	color: #D29F66;
	margin: 0;
	z-index: 90000;
	position: relative;
}
.text-element{
	position: relative;
	top: 3.6rem;
	right: 1rem;
	outline-style: none;
	padding-top: 1.6rem;
}
.text-element h4{
	color: black;
	
	
}
.text-element h5{
	font-family: 'Courgette', cursive;
	font-size: medium;
	margin: 0;
}
.text-element h6{
	font-family: 'Dancing Script', cursive;
	font-size: medium;
	margin: 0.8rem;
}

	

.btn5 {
  outline-style: none;
  border: none;
  height: 2rem;
  color: #fff;
  background-color: #75A1DE;
  margin-bottom: .5rem;
 align-content: center;
 transition-property: background-color color border-radius 3s ease-in-out 1s;
transition-duration: 4s;
}
.btn5:hover {
  transition: all 0.3s ease-out;
  background-color:  #1b065e;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #1E4D72;
  transition: all 0.3s ease-out;
  cursor: pointer;
}


/* Media Query */
@media screen and (max-width: 768px){
.webinar-img{
	position: absolute;
	right: .11rem;
	left: 0.1rem;
	bottom: 16rem;
	outline-style: none;
}
} 

@media screen and (max-width:375px){
	.text-element{
	position: relative;
	top: 3.5rem;
	right: -0.1rem;
	outline-style: none;
}
}
