
.signup-parent{
	background: url(./header-bg.svg);
}

.welcome h3{
	word-spacing: .5rem;
	letter-spacing: 0.5rem;
	color: slategray;
	font-size: xx-large;

}
.errors{
	color: red;
	font-size: .5rem;
}