
.signup-parent{
	background: url(./header-bg.svg);
}

.welcome h3{
	letter-spacing: 0.5rem;
	color: slategray;
	font-size: xx-large;

}
.errors{
	color: red;
	font-size: .5rem;
}

@media screen and (max-width: 360px){
	
.welcome h3{

	letter-spacing: 0.5rem;
	color: slategray;
	font-size: xx-large;

}
}