/* Global styles
------------------------------------*/

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;	
  letter-spacing: normal;
  line-height: normal;
  text-shadow: none;
  shape-outside: none;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}

*:focus{
	outline:none
}