.Creacte-event-for a button{
background-color: transparent;
color: #0066F5;
border: none;
	font-size: 1rem;
font-weight: 550;
padding: 15px 10px 15px 0px;
/* display: none; */
cursor: pointer;
}

.boxxx{
	margin-left: .6%;
	font-size: 14px;


}

.signupbtn a button{
background-color: transparent;

border: none;
	font-size: 1rem;
cursor: pointer;
padding: 15px 0px 15px 0px
}
.signupbtn a button:hover{
	color: #0066F5
}
.loginbtn a button{
	background-color: transparent;

border: none;
	font-size: 1rem;
cursor: pointer;
padding: 15px 15px 15px 0px;
/* border-left:1px solid grey; */

}


.loginbtn a button:hover{
	color: #0066F5
}
.border{
	border-left: 1px solid #A2A8AD;
	padding: .4rem;
	height: 35px;
	position: relative;
	top: .3rem;
}

.nav-container{
	background-color: #FFFFFF;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.display-flex{
	display: flex;
		flex-wrap: nowrap;
	padding: 16px;
		height: 89px;
	border-bottom: 1px solid #A2A8AD;
}
.inputfield-parent{
	position: relative;
}
.inputfield-parent input{
	/* border-radius: 4px; */
	max-width: 500px;
	height: 45px;
	font-size: 1rem;
	border-radius: 4px;
	border: none;
	border:  1px solid gray !important; ;
	
}
.inputfield-parent{
	padding-right: 30.6rem;
}

.inputfield-parent input[type= 'text']{
box-sizing: border-box;
padding-left: 35px;
}
.inputfield-parent input:focus{
border: 1px solid #0066F5  !important;

max-width: 500px;
		height: 45px;
	font-size: 1rem;
	border-radius: 4px;
	border: none;

}
.inputfield-parent .fa-search{
	position: absolute;
	align-items: center;
	display: flex !important;
	padding: 15px;
	color: #A2A8AD;


	
}
