/* img{
	position: relative;
	right: 2rem;
	bottom:0.5rem 
}
@media screen and (min-width: 1024px){
img{
	position: relative;
	right: 29rem;
	top:0.2rem 

}	

}


@media screen and (min-width: 1025px){
img{
	position: relative;
	right: 40.7rem;
	bottom: 10rem;
	margin: 0;
}	
}

.navbarr {
	height: 38px;
	padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding-top: 1.5rem;
	z-index: 1000;

}

.navbar-logoo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  text-decoration: none;
  font-size: 2rem;
}

img:-webkit-any-link{
	cursor: none;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}


.fa-bars {
  color: #0066F5;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
	background:#0066F5;
	height: 40rem;
	margin-top: 0;
    left: 0;
    opacity: 1;
    transition:  border all 1s ease-in-out;
	z-index: 100000;
	box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem #aaa;
  }

  .navbar-logoo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .fa-times {
    color: #0066F5;
    font-size: 2rem;
  }
} */




.navbarr {
	height: 38px;
	padding-bottom: 1rem;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  font-size: 1.2rem;
  padding-top: 1rem;
	z-index: 100000000;

}

.navbar-logoo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  text-decoration: none;
  font-size: 2rem;
}